* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #eee;
    height:  100%;
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 10px 200px;
    gap: 10px;
}

.search-container input {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 30px;
    padding: 10px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-container button{
    width: 20%;
    background: white;
    border-radius: 30px;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
}

.search-container input:focus {
    outline: none;
}

#container {
    display: grid;
    padding: 10px 100px;
    width: 100%;
}
#container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    outline: 2px solid white;
    outline-offset: 3px;
}
#container #user-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    grid-row: span 12;
    width: 100%;
}
#container #followers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px 100px;
    text-align: center;
    width: 100%;
}
#followers-title{
    display: none;
    width: 100%;
}
#container .followers-child{
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
#container .followers-child img{
    width: 30%;
    height: 50%;
    object-fit: cover;
}

@media (max-width: 729px) {
    .search-container{
        padding: 0px;
    }
    #container{
        padding: 0px;
    }
    #container img{
        width: 200px;
        height: 200px;
    }
    #container #user-data{
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .search-container{
        padding: 10px 30px;
    }
}